h1, h2 {
  text-align: center;
  color: #00ced1;
}
div {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  text-align: center;
}
#h3_label {
  text-align: center;
  color: #3cb371;
}
h3 {
  text-align: center;
  color: #20b2aa;
}
p {
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  color: rgb(221, 221, 221);
}